@media screen and (max-width: 576px) {
  .carousel {
    width: unset;
    flex-direction: column-reverse;
    height: calc(100vh - 2.5rem);

    .thumbnails {
      flex-direction: row;
      justify-content: space-evenly;

      .thumb-image {
        margin-bottom: 0;
      }
    }

    .image-viewer-container {
      width: 100%;
      height: 100%;
      margin: 0 0 0.75rem 0;
      .magnifier {
        display: none;
      }
    }
    .zoom {
      display: none;
    }
  }
}

.carousel {
  background-color: rgb(228, 227, 227);
  display: flex;
  flex-direction: row;
  height: 400px;
  padding: 0.75rem;
  width: 100%;

  .thumbnails {
    display: flex;
    flex-direction: column;

    .thumb-image {
      background-color: rgb(219, 216, 216);
      border: solid 1px rgb(110, 112, 110);
      width: 60px;
      height: 60px;
      margin-bottom: 0.75rem;
      border-radius: 3px;
      overflow: hidden;

      &.thumb-image-active {
        box-shadow: 0 0 8px 0px #717171;
        animation: grow 0.3s ease-in;
      }
    }
  }

  .image-viewer-container {
    background-color: #ffffff;
    width: 100%;
    margin-left: 0.75rem;
    border-radius: 3px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .magnifier {
      background-color: rgba(255, 255, 255, 0.24);
      border: solid 1px #ffffff;
      position: absolute;
      width: 200px;
      height: 150px;
      pointer-events: none;
    }
  }

  .zoom {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    position: absolute;
    top: 30px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px gray;
    animation: fadeIn 1s ease-in-out;
  }
}

/* animations*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
