<div class="carousel" [ngClass]="{'is-mobile':isMobile}" #carousel>
	<div class="thumbnails">
		<div class="thumb-image" [ngClass]="{'thumb-image-active': activeThumbnail === image}"
			*ngFor="let image of images" (click)="viewImage(image)" (mouseenter)="viewImage(image)">
			<img [src]="image" alt="{{image}}" />
    </div>
		</div>
		<div class="image-viewer-container" #imageViewerContainer (mouseout)="hideZoom(); hideMagnifier();"
			(mousemove)="magnifierMove($event)">
			<div class="magnifier" #magnifier></div>
			<img class="image-viewer" #imageViewer/>
		</div>
			<div class="zoom" #zoom>
			</div>
		</div>