.product {
  &-title {
    color: rgb(49, 28, 143);
    font-size: 28px;
    font-weight: 100;
  }

  &-old-price {
    text-decoration: line-through;
    font-style: italic;
    font-weight: 100;
  }

  &-price {
    font-weight: 100;
    font-size: 32px;
    color: rgb(168, 21, 21);
  }
}
.shopp {
  display: flex;
  flex-direction: column;

  .button {
    margin: 5px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    &.buy-now {
      background-color: rgb(46, 59, 172);
    }
    &.add-to-cart {
      background-color: rgb(103, 134, 192);
    }
  }
}
