.product {
  &-title {
    color: $blue;
    font-size: 28px;
    font-weight: 100;
  }

  &-old-price {
    text-decoration: line-through;
    font-style: italic;
    font-weight: 100;
  }

  &-price {
    font-weight: 100;
    font-size: 32px;
    color: rgb(168, 21, 21);
  }
}
.shopp {
  display: flex;
  flex-direction: column;

  .button {
    margin: 5px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    &.buy-now {
      background-color: $blue;
    }
    &.add-to-cart {
      background-color: $blue-light;
    }
  }
}
