.product {
  &-title {
    color: blue;
  }

  &-old-price {
    text-decoration: line-through;
    font-style: italic;
    font-weight: 100;
  }

  &-price {
    font-weight: 100;
    font-size: 32px;
  }
}
