// custom fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "assets/normalize.scss";
@import "assets/mixins.scss";

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
}

img {
  max-width: 100%;
}
.header {
  background: rgb(49, 28, 143);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem;
  .column {
    color: #a7a7a7;
    padding: 1rem;
  }
}

.button {
  border-radius: 5px;
  padding: 0.5rem;
  background: rgb(49, 28, 143);
  color: #5c5c5c;
  cursor: pointer;

  &:hover {
    background-color: #a3a3a3;
    color: #fcfcfc;
  }
}

@include breakpoint(mobile) {
  .layout {
    grid-template-columns: 1fr;
    margin: 0;
    border-radius: 0;
  }
}

@include breakpoint(tablet) {
  .layout {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    border-radius: 0;
  }
}
